h1 Users#show_user
h1 Users#show_user
h1 Users#show_user
h1 Users#show_user
h1 Users#show_user
h1 Users#show_user
h1 Users#show_user
h1 Users#show_user
p Find me in app/views/users/show_user.html.slim
