.taskLine {
  display: block;
  display: flex;
  justify-content: center;
}

.taskAttr {
  display: block;
  margin-right: 20px;
  max-width: 300px;
}

.taskListHeader {
  text-align: center;
  margin-top: 50px;
}

.ruleTask {
  display: flex;
  flex-direction: column;
}

.ruleTask a {
  margin-top: 5%;
}

.new_task_btn {
  margin-bottom: 30px;
  display: block;
}

.for_new_task_btn {
  display: flex;
}

.task_box {
  display: flex;
  flex-direction: column;
}

.task_item {
  margin: 0 auto;
  margin-top: 30px;
}